$internalGapUnit: 4px;
$gapUnit: $internalGapUnit * 2;


$padding: 10px;

$grey-soft: #B9B9B9;
$grey-active: #E5E5E5;
$grey-light: #7C7C7C;
$grey-graphite: #4E4E4E;
$black: #000;
$white: #FEFEFE;
$gray-nice: #F5F5F5;
$gray-pipetka: #F7F7F7;
$breez: #57A4A4;
$dark-blue: #39599F;
$grey-ze: #5C5C5C;
$mint: #45B0E3;
$purpul: #D97AB0;
$red: #CC212C;