@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:ital,wght@0,400;0,700;1,700&family=Ubuntu:wght@700&display=swap');

@import "mixin";

* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
.header {
   width: 100%;
   min-height: 37%;
}
.container {
    max-width: 1200px;
    margin: 0;
}

.nav{
    position: absolute;
    top: 65px;
    right: 10px;
    display: none;
    box-sizing: border-box;
    width: 182px;
    background-color: $gray-nice;

    @include tablet {
        display: block;
        margin: 0 auto;
        position: static;
        background-color: transparent;
        width: 90%;
        margin-top: 23px;
        padding-bottom: 28px;
        
        &__menu {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 0;
        }
    }
    @include desktop {
        margin-top: 29px;
        padding-bottom: 51px;
        gap: 68px;
    }
}
.nav.active {
    display: block;
}
.nav__list {
    list-style: none;
    gap: 10px;
}
.nav__link {
    display: block;
    text-decoration: none;
    color: #4E4E4E;
    font-size: 11px;
    font-family: Roboto;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    padding-top: 4.5px;
    padding-left: 12px;
}
.nav__list :hover {
    color: $breez;
    background-color: $grey-active;
}
.nav__menu {
    padding: 0;
    margin: 0;
}
.hamburger {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 23px;
    right: 10px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    top: 23px;
    width: 44px;
    height: 37px;
    transform: translateY(-50%);
    border: 0;
    border-bottom: $black;
    background-color: $black;

    @include tablet {
        display: none;
    }
}
.bar {
    top: 4px;
    background-color: $white;
    width: 50%;
    height: 2px;
    transition: all .3s ease-in;
}
#bar2 {
    top: 11px;
}
#bar3 {
    top: 19px;
}
.navigation-active {
    right: 0;
}
.hamburger.open #bar3{
    background-color: $white;
    transform: rotate(-45deg) translate(3px, -3px);
}
.hamburger.open #bar1{
    background-color: transparent;
}
.hamburger.open #bar2{
    background-color: $white;
    transform: rotate(45deg) translate(0, 0);
}
.intro-image {
    padding-top: 83px;
    padding-right: 15px;
    padding-left: 10px;
    margin-bottom: 38px;
    width: 100%;

    @include tablet {
       padding-top: 0;
       padding-left: 10px;
       padding-right: 10px;
       margin-bottom: 59px;
    }
    @include desktop {
        margin-bottom: 66px;
    }
}


// Main-post
.main-post {
    width: 100%;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
}
.our-post {
    color: $gray-pipetka;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 23px;

    @include tablet {
        margin-bottom: 24px;
        color: #4E4E4E;
        font-size: 16px;
    }
}
.posts {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 28.5px;
    padding: 0;
    
    @include tablet {
        padding: 0;
    }

    @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 55px;
        padding-left: 10px;
    }
}
.post {
    &__img {
        padding-left: 10px;
        
        @include desktop {
            padding: 0;
        }
    }
    &__img2 {
        display: none;
    
        @include tablet {
            display: block;
            padding-left: 10px;
            height: 140px;

            @include desktop {
                padding: 0;
            }
        }
    }

    &__title {
        margin: 0;
        color: $grey-graphite;
        font-size: 14px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 30px;
        padding-left: 10px;
        margin-bottom: 18,5px;

        @include tablet {
            font-size: 16px;
            flex-direction: column;
            padding-left: 0;
        }
    }
    
    &__title2 {
        display: none;

        @include tablet {
            display: block;
            margin: 0;
            color: $grey-graphite;
            font-size: 16px;
            font-family: Roboto;
            font-weight: 700;
            line-height: 30px;
            flex-direction: column;
        }
    }

    &__link {
        text-decoration: none;
        color: $grey-light;
        font-size: 11px;
        font-family: Roboto;
        line-height: 20px;
        padding-left: 10px;

        @include tablet {
        font-size: 12px;
        }
    }

    &__link2 {
        display: none;

        @include tablet {
        display: block;
        text-decoration: none;
        color: $grey-light;
        font-size: 12px;
        font-family: Roboto;
        line-height: 20px;
        }
    }

    &__text {
        display: none;
        
        @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
        color: $grey-ze;
        font-size: 14px;
        font-family: Roboto;
        line-height: 26px;
        margin: 0;
        padding-right: 10px;
        margin-top: 13px;
       
        }
    }

    &__text2 {
        display: none;
        
        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 18px;
            color: $grey-ze;
            font-size: 14px;
            font-family: Roboto;
            line-height: 26px;
            margin: 0;
            padding-right: 10px;
            margin-top: 13px;
           }
    }

        @include tablet {
        display: flex;
        gap: 21px;
        }
}
.recent-post {
    margin-bottom: 77.5px;

    @include tablet {
        margin-bottom: 60px;
    }
    @include desktop {
        margin-bottom: 69px;
    }
}

// Section Instagram-Post
.container {
    max-width: 1200px;
    margin: 0 auto;
 }
.instagram {
    margin-top: 77,5px;

    @include tablet {
        background-color: $gray-pipetka;
        margin-top: 60px;

        @include desktop {
            margin-top: 69px;
        }
    }
    &__public {
        @include tablet {
            display: flex;
            justify-content: space-between;
            padding-right: 10px;
            padding-top: 47px;
        }
    }
    &__shot {
        color: $grey-graphite;
        font-size: 14px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        width: 196px;
        height: 22px;
        padding-left: 10px;
        margin: 0;
        margin-bottom: 13px;

        @include tablet {
           font-size: 16px;
           width: 247px;
           height: 22px;
        }
        @include desktop {
           margin-bottom: 24px;
        }
    }
    &__page {
        display: none;
        @include tablet {
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: $grey-graphite;
            width: 217px;
            height: 22px;
            font-size: 13px;
            font-family: Roboto;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            margin: 0;
        }
    }
    &__pictures {
       padding: 0;
       
        @include tablet {
            display: flex;
            justify-content: center;
            gap: 9px;
            padding-left: 10px;
            padding-right: 10px;

            & li {
                flex: 1;
                list-style-type: none;
                & img {
                  width: 100%;
                }
              }
        }
    }
    &__foto {
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 42px;
       
        @include tablet {
            padding: 0;
            margin-bottom: 50px;
        }
        @include desktop {
            gap: 10px;
            margin-bottom: 49px;
        }
    }
    &__foto2 {
        display: none;

        @include tablet {
           display: block;
        }
        @include desktop {
            gap: 10px;
        }
    }
    &__foto3 {
        display: none;

        @include tablet {
            display: block;
        }
        @include desktop {
            gap: 10px;
        }
    } 
    &__foto4 {
        display: none;

        @include desktop {
            display: block;
            gap: 10px;
        }
    }
}

// Footer
.container {
    max-width: 1200px;
    margin: 0 auto;
 }
.footer {
    background-color: $black;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__get {
        display: flex;
        justify-content: center;
        padding-bottom: 8px;
        color: $white;
        font-size: 14px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        padding-top: 38px;
        margin: 0;

        @include tablet {
            margin: 0;
            padding-top: 57px;
            padding-bottom: 22px;
        }
        @include desktop {
            padding-top: 66px;
        }
    }
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $grey-soft;
        text-align: center;
        font-size: 12px;
        font-family: Roboto;
        line-height: 20px;
        height: 52px;
        margin-bottom: 36px;
        margin: 0;

        @include tablet {
            display: none;
        }
    }
    &__continue {
        display: none;
        @include tablet {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $grey-soft;
            text-align: center;
            font-size: 16px;
            font-family: Roboto;
            line-height: 28px;
            margin: 0;
            height: 44px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &__short {
        display: none;
        @include tablet {
            display: flex;
            text-align: center;
            color: $grey-soft;
            font-size: 16px;
            font-family: Roboto;
            line-height: 24px;
            text-align: center; 
            line-height: 26px;
            margin-bottom: 56px;
            text-decoration: none;
        }
        @include desktop {
            margin-bottom: 70px;
        }
    }
}
.footer__icon ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 25px;

    @include tablet {
        margin: 0;
        margin-top: 37px;
        margin-bottom: 34px;
    }
}
.footer__icon ul li{
    display: inline-block;
    text-align: center;
    margin: 0;
}    
.icon {
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 30px;
    border: 2px solid #F8902E;

    &--blue{
        border-color: $dark-blue;
    };

    &--mint{
        border-color: $mint;
    }
    &--purpul{
        border-color: $purpul;
    }
    &--red{
        border-color: $red;
    }
  } 
}
.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 47px;
    
    &__link {
    color: $grey-soft;
    font-size: 14px;
    font-family: Roboto;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    
    }
    @include tablet {
        display: none;
    }
}

